/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Nunito', sans-serif;
    /* font-family: 'Titillium Web', sans-serif; */
	width: 80%;
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Nunito', sans-serif;
	/* font-family: 'Bangers', cursive; */
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/* Main Page */

header {
	width: 64%;
	padding: 40px 10px;
	text-align: left;
	background-color: gainsboro;
	top: 0;
	overflow: hidden;
	position: fixed;
}

nav {
	display: inline-block;
	width: 70%;
	vertical-align: 14px;
	
}

nav a:first-child {
	padding-left: 0%;
}

nav a:last-child {
	padding-right: 0%;
}

a {
	color: gray;
	text-decoration: none;
	padding: 0 4%;
	padding-left: 35px;
}

a:hover {
	background: #ddd;
	color: black;		
}

img.logo {
	width: 25%;
	margin-left: 4%;
}

.upper-part {
	display: inline-flex;
	width: 100%;
	border-bottom: 2px solid black;
	padding-bottom: 5%;
	padding-top: 5%;
	margin-top: 15%;
}

.title {
	width: 50%;
	text-align: center;
}

h1 {
	font-size: 4em;
	padding-top: 11%;
	padding-bottom: 3%;
}

.title a {
	width: 100%;
	border: 1px solid black;
	color: black;
	font-weight: bolder;
	padding: 0 5%;
}

.upper-part img {
	padding-left: 25%;
}

main {
	padding-top: 5%;
	padding-bottom: 5%;
	border-bottom: 2px solid black;
}

.above-image {
	display: inline-flex;
	width: auto;
	text-align: left;
	padding-bottom: 5%;
}

h2 {
	font-weight: 900;
}

.middle-img {
	padding-bottom: 5%;
	width: 100%;
}

.below-image {
	display: inline-flex;
	width: auto;
	text-align: left;
}

footer {
	padding-top: 5%;
}

address a {
	padding: 0;
	color: black;
}

footer p {
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
}

/* Services Page */

.a-logo {
	padding: 0;	
}

span {
	width: 50%;
	text-align: center;
}

main p {
	padding-right: 1%;
}

/* nav.scroll {
	padding: 10px;
	background: black;
}

nav.scroll a {
	color: white;
} */

